.footerContact {
  height: auto;
  background: #27ae60;
  margin: 2rem 0;
  color: #000;
}
.footerContact .container h1  , .footerContact .container p {
 color: #000;
}
.footerContact .container {
  display: flex;
}

footer .container {
  padding-top:5rem ;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 2rem;
}
footer .container .box img {
  width: 20rem;
  height: auto;
}
.legal  {
 text-align: center;
 margin: 3rem;
}
.btn5 {
  width: auto;
  margin: auto;
  padding: 1rem;
}